<body>
  <div class="wrapper">
    <div class="container main">
      <div class="row">
        <div class="col-md-6 side-image">
          <!-- Imagen de fondo -->
          <img [src]="myimage" alt="" class="background-image">
        </div>
        <div class="col-md-6 right">
          <div class="input-box">

            <div class="card-body text-center">
              <!-- Imagen SVG del candado -->
              
            </div>

            <header class="custom-label">Iniciar Sesion</header>

            <form [formGroup]="myform" (ngSubmit)="submitFormulario()">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label custom-label">Usuario *</label>
                <input formControlName="name" [class.is-invalid]="f.name.errors && f.name.touched" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu Usuario">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                  Usuario Obligatorio
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="custom-label">Contraseña *</label>
                <input formControlName="username" [class.is-invalid]="f.username.errors && f.username.touched" type="password" class="form-control" id="exampleFormControlTextarea1" placeholder="Ingresa tu Contraseña">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                  Contraseña Obligatoria
                </div>
              </div>
              <div class="input-field">
                <button class="btn btn-primary">Aceptar</button>
              </div>
              <div class="signin">
                <span class="custom-label">Copyright FEMSA.com 2024. <a href="#"></a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
