<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-dark">Supplier Details</h5>
<form [formGroup]="proveedorForm" class="form-grid w-full" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Name</label>
    <input type="text" id="name" class="form-control" placeholder="Name" formControlName="name">
    <div *ngIf="proveedorForm.get('name')?.hasError('required') && proveedorForm.get('name')?.touched" class="form-error">
      Name is required
    </div>
  </div>
  <div>
    <label for="name_contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Name Contact</label>
    <input type="text" id="name_contact" class="form-control" placeholder="Name Contact" formControlName="name_contact">
    <div *ngIf="proveedorForm.get('name_contact')?.hasError('required') && proveedorForm.get('name_contact')?.touched" class="form-error">
      Name Contact is required
    </div>
  </div>
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Email</label>
    <input type="text" id="email" class="form-control" placeholder="E-Mail" formControlName="email">
    <div *ngIf="proveedorForm.get('email')?.hasError('required') && proveedorForm.get('email')?.touched" class="form-error">
      Email is required
    </div>
  </div>
  <div>
    <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Address</label>
    <input type="text" id="address" class="form-control" placeholder="Address" formControlName="address">
    <div *ngIf="proveedorForm.get('address')?.hasError('required') && proveedorForm.get('address')?.touched" class="form-error">
      Address is required
    </div>
  </div>
  <div>
    <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Country</label>
    <input type="text" id="country" class="form-control" placeholder="Country" formControlName="country">
    <div *ngIf="proveedorForm.get('country')?.hasError('required') && proveedorForm.get('country')?.touched" class="form-error">
      Country is required
    </div>
  </div>
  <div>
    <label for="cp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">CP</label>
    <input type="text" id="cp" class="form-control" placeholder="CP" formControlName="cp">
    <div *ngIf="proveedorForm.get('cp')?.hasError('required') && proveedorForm.get('cp')?.touched" class="form-error">
      CP is required
    </div>
  </div>
  <div>
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Phone</label>
    <input type="text" id="phone" class="form-control" placeholder="Phone" formControlName="phone">
    <div *ngIf="proveedorForm.get('phone')?.hasError('required') && proveedorForm.get('phone')?.touched" class="form-error">
      Phone is required
    </div>
  </div>
  <div class="buttons">
    <button type="submit" class="submit-button">
      Submit
    </button>
    <button type="button" (click)="onClose()" class="cancel-button">
      Cancel
    </button>
  </div>
</form>
