<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-dark">Category Details</h5>
<form [formGroup]="categoriaForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Name</label>
    <input type="text" id="name" class="form-control" placeholder="Name" formControlName="name">
    <div *ngIf="categoriaForm.get('name')?.hasError('required') && categoriaForm.get('name')?.touched" class="form-error">
      Name is required
    </div>
  </div>
  <div class="mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Category</label>
    <input type="text" id="description" class="form-control" placeholder="Description Category" formControlName="description">
    <div *ngIf="categoriaForm.get('description')?.hasError('required') && categoriaForm.get('description')?.touched" class="form-error">
      Description is required
    </div>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
    Submit
  </button>
  <button type="button" (click)="onClose()" class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
    Cancel
  </button>
</form>
