



<div class="app-sidebar">
    <div class="logo">
        <a href="index.html" class="logo-icon"><span class="logo-text">FERREMISO</span></a>
        <div class="sidebar-user-switcher user-activity-online">
            <a href="#">
                <span class="user-info-text">FERREMISO<br><span class="user-state-info">Punto de Venta</span></span>
            </a>
        </div>
    </div>
    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Panel
            </li>
            <li class="active-page">
                <a href="#" class="active"><i class="material-icons-two-tone">dashboard</i>Ventas</a>
            </li>
            <li>
                <a href="#"><i class="material-icons-two-tone">inbox</i>Compras</a>
            </li>
            <li>
                <a href="#"><i class="material-icons-two-tone">calendar_today</i>Empleados</a>
            </li>
           
            <li>
                <a href="#"><i class="material-icons-two-tone">widgets</i>Productos</a>
            </li>
            
            <li>
                <a href="#"><i class="material-icons-two-tone">bookmark</i>Proveedores</a>
            </li>
            <li>
                <a href="#"><i class="material-icons-two-tone">bookmark</i>Categorias</a>
            </li>
            <li>
                <a href="estadisticas"><i class="material-icons-two-tone">access_time</i>Estadisticas</a>
            </li>
        </ul>
    </div>
</div>